<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.min.css">
</head>
<body th:fragment="footer">
<footer  id="dashboard-footer">
  <div class="container-fluid bg-dark text-white p-5 mt-5">
    <div class="row">
      <div class="col">
        <p class="text-center lead"> CopyRight &copy; My Book Store 2024</p>
      </div>
    </div>
  </div>
</footer>
</body>
</html>